@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  background-image: url("images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-color: hsl(230, 100%, 99%);
}

header {
  margin-top: 89px;
  text-align: center;
  position: relative;
}

h1 {
  font-size: 20px;
  color: hsl(227, 35%, 25%);
  margin-bottom: 10px;
}

header p {
  font-size: 13px;
}
header p:nth-of-type(1) {
  margin-bottom: 6px;
}

header img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  background-color: #fff;
  border-radius: 10px;
  margin: 66px 24px;
  padding: 32px 24px;
  text-align: center;
  box-shadow: 0px 10px 5px 2px #f3f3f3;
}

main p:nth-of-type(1) {
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 800;
  position: relative;
  top: 1px;
  right: 1px;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
}

.slider {
  appearance: none;
  height: 8px;
  width: 100%;
  border-radius: 12px;
  background: hsl(224, 65%, 95%);
  /* box-shadow: 0px 6px 30px 2px hsl(174, 86%, 45%); */
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: hsl(174, 86%, 45%);
  cursor: pointer;
  background-image: url('images/icon-slider.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.slider-icon-circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
span.amount,
main p:nth-child(3) {
  font-size: 32px;
  font-weight: 800;
  margin-top: 2px;
}
span.period {
  font-size: 14px;
  position: relative;
  top: -6px;
  left: 2px;
}
.discount-desktop {
  display: none;
}

.billing-div {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 11px;
  font-size: 14px;
  margin-top: 4px;
  padding-left: 20px;
}

/* Checkbox toggle input */
.checkbox {
  appearance: none;
  width: 44px;
  height: 22px;
  border-radius: 34px;
  position: relative;
  background-color: hsl(223, 50%, 87%);
  top: 1px;
  left: 2px;
}

.checkbox::before {
  position: absolute;
  content: "";
  background-color: #fff;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  top: 50%;
  left: 4px;
  transform: translate(0, -50%);
  transition: transform 300ms ease-in;
}

.checkbox:checked::before {
  position: absolute;
  content: "";
  background-color: #fff;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  top: 50%;
  left: 4px;
  transform: translate(21px, -50%);
  transition: transform 300ms ease-in;
}

label {
  color: hsl(225, 20%, 60%);
  font-size: 12px;
}
.billing-div label:nth-of-type(2) {
  position: relative;
  left: 3px;
}
.discount-mobile {
  color: hsl(15, 100%, 70%);
  background-color: hsl(14, 92%, 95%);
  border-radius: 14px;
  padding: 2px 8px;
  font-size: 10px;
  margin-right: -17px;
  font-weight: 800;
  position: relative;
  left: -3px;
  top: -1px;
}

.features-div {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  border-top: 1px solid #edf0f9;
  margin-right: -24px;
  margin-left: -24px;
  padding-top: 24px;
}
main ul {
  margin-inline-start: -3px;
  padding-inline-start: 0px;
}

ul {
  list-style-position: inside;
}

.features-div li {
  font-size: 12px;
  list-style-image: url("images/icon-check.svg");
  margin-bottom: 10px;
  position: relative;
  color: hsl(225, 20%, 60%);
}
.features-div li::before {
  content: " ";
  margin-right: 5px;
}

.btn-div button {
  margin-top: 22px;
  padding: 12px 46px;
  border-radius: 999px;
  border: none;
  appearance: none;
  background-color: hsl(227, 35%, 25%);
  color: hsl(223, 50%, 87%);
  font-weight: 800;
  font-size: 12px;
  font-family: inherit;
  cursor: pointer;
}

/* Media queries ----------------- */

@media (min-width: 1024px) {
  body {
    display: grid;
    place-content: center;
  }
}
